<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Positions" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Positions</h1>
    <%= link_to "New position", new_contract_position_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <table id="positions" class="min-w-full divide-y">
    <thead>
      <tr>
        <th class="text-start text-xs font-medium">title</th>
        <th class="text-start text-xs font-medium">action</th>
      </tr>
    </thead>
    <tbody>
      <% @positions.each do |position| %>
        <tr id="<%= dom_id position %>" class="hover:bg-gray-100">
          <td class="whitespace-nowrap text-sm font-medium"><%= position.title %></td>
          <td class="whitespace-nowrap text-sm font-medium"><%= link_to "Show", contract_position_path(position), class: "my-2 font-medium" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
