<div class="mx-auto w-full relative">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%= render @employee %>
  <div class="absolute right-0 top-0 flex flex-col">
    <%= link_to employees_path, class: "mb-2 text-white bg-blue-600 rounded-full inline-block p-3 hover:bg-blue-800", title: "Back" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
      </svg>
    <%end%>
    <%= link_to edit_employee_path(@employee), class: "mb-2 text-white bg-blue-600 rounded-full inline-block p-3 hover:bg-blue-800", title: "Edit"  do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
      </svg>
    <%end%>
    <div class="mb-2 inline-block">
      <%= button_to  @employee, method: :delete, class: "text-white bg-red-600 rounded-full p-3 hover:bg-red-800", title: "Delete"  do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      <%end%>
    </div>
  </div>
  <div class="text-center text-gray-500 border-b border-gray-200">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <%= link_to "Contracts", employee_contracts_path(@employee), 
      class: "inline-block p-4 border-b-2 rounded-t-lg text-blue-600  border-blue-600 active", 
      data: {
        turbo_method: :get, 
        turbo_stream: true
      }
      %>
      </li>
      <li class="me-2">
        <%= link_to "Bank Information", employee_banks_path(@employee), 
      class: "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300", 
      data: {
        turbo_method: :get, 
        turbo_stream: true
      }
      %>
      </li>
      <li class="me-2">
        <%= link_to "Advances", employee_advances_path(@employee), 
      class: "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300", 
      data: {
        turbo_method: :get, 
        turbo_stream: true
      }
      %>
      </li>
    </ul>
  </div>
  <div id="employee-tabs">
    <%= turbo_frame_tag "load_employee_contracts", src: employee_contracts_path(@employee) %>
  </div>
