<tr id="<%= dom_id advance %>" class="hover:bg-gray-100">
  <td class="whitespace-nowrap text-sm font-medium"><%= Employee.find(advance.employee_id).short_name %></td>
  <td class="whitespace-nowrap text-sm font-medium"><%= advance.amount %></td>
  <td class="whitespace-nowrap text-sm font-medium"><%= advance.payment %></td>
  <td class="whitespace-nowrap text-sm font-medium"><%= advance.start_date %></td>
  <td class="whitespace-nowrap text-sm font-medium"><%= advance.end_date %></td>
  <td class="whitespace-nowrap text-sm font-medium"><%= advance.completed %></td>
  <td class="whitespace-nowrap text-sm font-medium"><%= link_to "Show", employee_advance_path(advance), class: "my-2 font-medium", target: "_top" %></td>
</tr>
