<div id="<%= dom_id advance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= advance.amount %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment:</strong>
    <%= advance.payment %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Start Date:</strong>
    <%= advance.start_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">End Date:</strong>
    <%= advance.end_date %>
  </p>
</div>
