<table id="contracts" class="min-w-full divide-y">
  <thead>
    <tr>
      <th class="text-start text-xs font-medium">
        <div>
          <%= build_order_link(label: "Employee Name", model: "contract", url: "employees_contracts_path", params: {column: "employees.first_name"}) %>
          <%= sort_indicator("contract", "employees.first_name") %>
        </div>
        <div>
          <%= build_order_link(label: "Employee Arabic Name", model: "contract", url: "employees_contracts_path", params: {column: "employees.ar_first_name"}) %>
          <%= sort_indicator("contract", "employees.ar_first_name") %>
        </div>
      </th>
      <th class="text-start text-xs font-medium">
        <%= build_order_link(label: "Position", model: "contract", url: "employees_contracts_path", params: {column: "positions.title"}) %>
        <%= sort_indicator("contract", "positions.title") %>
      </th>
      <th class="text-start text-xs font-medium">
        <%= build_order_link(label: "Salary", model: "contract", url: "employees_contracts_path", params: {column: "contracts.salary"}) %>
        <%= sort_indicator("contract", "contracts.salary") %>
      </th>
      <th class="text-start text-xs font-medium">
        <%= build_order_link(label: "Start Date", model: "contract", url: "employees_contracts_path", params: {column: "contracts.start_date"}) %>
        <%= sort_indicator("contract", "contracts.start_date") %>
      </th>
      <th class="text-start text-xs font-medium">
        <%= build_order_link(label: "End Date", model: "contract", url: "employees_contracts_path", params: {column: "contracts.end_date"}) %>
        <%= sort_indicator("contract", "contracts.end_date") %>
      </th>
      <th class="text-start text-xs font-medium">Active</th>
      <th class="text-start text-xs font-medium">Actions</th>
    </tr>
  </thead>
  <tbody class="divide-y" id="general-search">
    <% @contracts.each do |contract| %>
      <%= render partial: "contracts_index_row", locals: {contract: contract} %>
    <% end %>
  </tbody>
</table>