<div>
  <div class="flex justify-between items-center my-3">
    <h2 class="font-bold text-2xl">Contracts</h2>
    <%= link_to new_employee_contract_path(employee.id), class: "text-white bg-blue-600 rounded-full block p-3 hover:bg-blue-800", target: "_top", title: "Add Contract" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    <%end%>
  </div>
  <div>
    <%= form_with url: employee_contracts_path(employee.id), method: :get, data: {controller: "general-search", turbo_stream: true} do |f| %>
      <div class="flex my-2 justify-between">
        <div class="py-2">
          <input data-action="click->general-search#update" type="radio" id="radio1" class="peer/all hidden" name="active" value="" <%= "checked" if session.dig('contract_search_params', 'active') == "" || session.dig('contract_search_params', 'active').blank? %>>
          <label class="inline-block bg-gray-300 hover:bg-gray-400 py-1 px-3 cursor-pointer peer-checked/all:bg-blue-600 peer-checked/all:hover:bg-blue-800 peer-checked/all:text-white rounded" for="radio1">All</label>
          <input data-action="click->general-search#update" type="radio" id="radio2" class="peer/true hidden" name="active" value="true" <%= "checked" if session.dig('contract_search_params', 'active') == "true"%>>
          <label class="inline-block bg-gray-300 hover:bg-gray-400 py-1 px-3 cursor-pointer peer-checked/true:bg-blue-600 peer-checked/true:hover:bg-blue-800 peer-checked/true:text-white rounded" for="radio2">Active</label>
          <input data-action="click->general-search#update" type="radio" id="radio3" class="peer/false hidden" name="active" value="false" <%= "checked" if session.dig('contract_search_params', 'active') == "false"%>>
          <label class="inline-block bg-gray-300 hover:bg-gray-400 py-1 px-3 cursor-pointer peer-checked/false:bg-blue-600 peer-checked/false:hover:bg-blue-800 peer-checked/false:text-white rounded" for="radio3">Archived</label>
        </div>
        <div class="relative z-0 w-3/12">
          <input name="year" data-action="input->general-search#update" type="number" min="1900" max="2900" placeholder="" value="<%= session.dig('contract_search_params', 'year') %>" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label for="text_search" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            Search By Year
          </label>
          <button type="submit" class="text-white absolute end-0 bottom-2.5 bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
        </div>
      </div>
    <% end %>
    <%= render partial: "employee_contracts_table", locals:{ employee: employee, contracts: contracts } %>
  </div>
</div>