<%= form_with(model: [employee, contract], class: "contents") do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:
      <ul>
        <% contract.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-full grid grid-cols-1 md:grid-cols-4 gap-5 my-5">
    <div class="col-span-1">
      <%= form.label :start_date, class: "block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"%>
      <%= form.date_field :start_date %>
    </div>
    <div class="col-span-1">
      <%= form.label :end_date, class: "block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"%>
      <%= form.date_field :end_date %>
    </div>
    <div class="col-span-1">
      <%= form.label :salary, class: "block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"%>
      <%= form.text_field :salary, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
    </div>
    <div class="col-span-1">
      <%= form.label :position, class: "block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"%>
      <%= form.collection_select :position_id, Position.order(:title), :id, :title %>
    </div>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Back to contracts", employee_contracts_path(contract.employee_id || employee), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer ring-2 hover:ring-blue-500" %>
  </div>
<% end %>
